// Specific CSS for your new-page
.description h1 {
  color:white
}
.description label {
  color:white
}

.description {
  background-size: cover;
  width: 70vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  flex-direction: column;
  margin: 23px auto;
  border-radius: 3%;
  box-shadow: 0 0 10px black;
}
