// Specific CSS for your new-page
.description select {
  width: 90%;
  text-align: center;
}
.description h1 {
  margin: 25px;
  font-size: 3.5em;
}
.description {
  color:white;
  text-align: center;
  background-size: cover;
  width: 736px;
  height: 736px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 23px auto;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
}
.btn-add {
  margin: 0 auto;
  display: block;
  width: 80%;
}
.input {
  margin: 3px;
}
