<div class="task-container">
  <div class="task-box">
    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 1st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 2st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 3st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 4st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 5st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 6st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 7st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 8st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>

    <div class="task-item">
      <a href="#" class="task-item-link">
        <div class="task-item-bg"></div>
        <div class="task-item-description">Description of the 9st Task</div>
        <div class="task-item-date">Date :
          <span class="task-item-date-day">DD/MM/YYYY</span>
        </div>
      </a>
    </div>



  </div>
</div>
