
<div class="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('homebanner2w.png') %>');">
    <div class="container">
      <h1>iTask<strong> runs errands</strong> to <strong>busy people</strong> !</h1>
      <p>Our services are available Nationwide.<br>
      Whether you are :</p>
      <a class="btn btn-primary" href="/tasks/new">The Client</a>
      <a class="btn btn-secondary" href="/tasks">The Taskman</a>
    </div>
  </div>

  <h2>Top Services</h2>

  <div class="cards">

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664391832467-6bd91a9740eb?q=80&w=3282&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Documents
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1661306516555-62c6683cecea?q=80&w=3265&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Packages
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664392440491-d025d4756036?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8a2lkcyUyMHNjaG9vbCUyMHRpbWUlMjB0byUyMGdvJTIwaG9tZXxlbnwwfHwwfHx8MA%3D%3D)">
      Specials
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1664391832467-6bd91a9740eb?q=80&w=3282&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      Others
    </div>

  </div>

  <div class="history">
    <h3>Our History</h3>
    <p>iTask was founded in 2021 by a group of friends who wanted to help busy people with their daily tasks. We started with a small team of 5 people and now we have over 100 employees working in different cities in Morocco.</p>
  </div>

  <div class="slider">
    <div class="slide">
        <p>Documents</p>
    </div>
    <div class="slide">
        <p>Packages</p>
    </div>
    <div class="slide">
        <p>Specials</p>
    </div>
    <div class="slide">
        <p>Others</p>
    </div>
  </div>

</div>
