.navbar-lewagon {
  justify-content: space-between;
  background: rgb(97, 97, 97);
  box-shadow: 0 0 5px black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:goldenrod;
}
.dropdown-item {
  color: goldenrod;
}
.dropdown-menu {
  background: rgb(97, 97, 97);
  box-shadow: 0 0 5px black;
}
.avatar {
  border: 2px solid goldenrod;
}
